@import "tailwindcss";
@import "tailwindcss";

body {
  font-family: Inter, system-ui, sans-serif;
}

@keyframes zoom {
  0% { transform: scale(1.1); }
  50% { transform: scale(1.18); }
  100% { transform: scale(1.1); }
}